{% extends 'basecourse.html' %}
{% block content %}

  	<!-- The Modal -->
  <div class="modal fade" id="descedit">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Description</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
    <form action="{% url 'editdesc' cid %}" method="POST">
	  {% csrf_token %}
      <textarea name="new" rows="7" style="width:100%" required>{{course.desc}}</textarea><br>
	  <input type="submit" value="Update">
    </form>
        </div>
      </div>
    </div>
  </div>
  
    <div class="modal fade" id="editname">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
      
        <div class="modal-header">
          <h4 class="modal-title">Edit Course Name</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <div class="modal-body">
    <form action="{% url 'edit' cid %}" class="form-inline my-2 my-lg-0" method="POST">
	  {% csrf_token %}
      <input style="width:400px" class="form-control mr-sm-2" type="search" placeholder="{{course.item}}" value="{{course.item}}" name="item">
	  <input type="submit" value="Update">
    </form>
        </div>
      </div>
    </div>
  </div>
<!-- ---------------------------------------------------------------------------------------------------------------------- -->

<div style="font-family:verdana;padding-top:24px;background-color:white" >
  <h3><div class="row" style="margin-right:0">
    <div class="col-md-auto" style="width:50px">
      <button class="btn" onclick="openNav()" style="font-size: 25px;background-color:#e7f0ff">&#9776;</button></div>
    <div class="col"><center>{{course.item}}<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editname">Edit</button></center></div>
</div></h3><hr></div><br>

<div class="container">

<div style="border-radius: 6px;box-shadow: 0 0 10px #D8D8D8;padding: 25px;background-color:white">

<div id="desc">
<center><form action="{% url 'updatecred' cid %}" method="POST">
	{% csrf_token %}
  <span style="font-size: 20px"><b>Credits</b></span> 
	<input class="form-control" style="padding: 8px;width: 60px;display:inline;" type="number" min="1" max="25" step=".5" name="Credits" placeholder={{course.cred}} required>
    <button class="btn btn-primary" style="vertical-align:bottom;" /*align ni ho reha si*/ type="submit">Update</button>
</form><br>
</center>
	<br>
	<h5><strong>Course Description</strong>:<br><br> {{course.desc|linebreaks}}</h5><br>
	<button class="btn btn-primary"  style="" data-toggle="modal" data-target="#descedit">Edit Description</button>
</div>
<!----------------------------------------------------------------------------------------------------------------------- -->
	<!-- The Modal -->
  <div class="modal fade" id="syllabus">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Syllabus</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
    <form id="editSyll" action="{% url 'editsyll' cid %}"  method="POST">
	  {% csrf_token %}
      <textarea name="new" rows="7" style="width:100%" required>{{course.syllabus}}</textarea><br>
	  <input type="submit" value="Update">
    </form>
        </div>
      </div>
    </div>
  </div>

<div id="syll" style="display:none">
<h5><strong>Syllabus</strong>:<br><br> <div id="actualSyll" style="white-space: pre-line;">{{course.syllabus}}</div></h5><br>
<button class="btn btn-primary" style="width:200px" data-toggle="modal" data-target="#syllabus">Edit Syllabus</button>
</div>

<script>
$("#editSyll").submit(function(e) {
e.preventDefault();
var serializedData=$("#editSyll").serialize();
$.ajax({
url:$("#editSyll").attr('action'),
data:serializedData,
type:'post',
success: function(response){
$("#actualSyll").html(response.neww.syllabus);
}
})
});
</script>

<!----------------------------------------------------------------------------------------------------------------------- -->
<div id="topics" style="display:none">
	<form id="addTopic" class="form-inline" action="{% url 'addTopic' cid %}" method="POST">
	  {% csrf_token %}
	  <input style="width: 480px" class="form-control" type="search" placeholder="Add New Topic" name="topic" required>
	  <button class="btn btn-primary" type="submit">Add topic</button>
    </form>
	<br>
	<h4>Course Topics:</h4>
  <div style="overflow-x: auto;">
  <table style="text-align:center" id="topicsTable" class="table table-transparent">
  {% for it in topics %}
  <tr id="topicele" data-id="{{it.id}}">
  <td>{{it.name}}</td>
  <td><a class="delclass" data-id="{{it.id}}" style="color:red;cursor:pointer">Delete</a></td>
  </tr>
  {% endfor %}
  </table>
</div>

</div>
<script>
$("#addTopic").submit(function(e) {
e.preventDefault();
var serializedData=$("#addTopic").serialize();
$.ajax({
url:$("#addTopic").attr('action'),
data:serializedData,
type:'post',
success: function(response){
$("#topicsTable").append(
'<tr id="topicele" data-id="'+ response.neww.id +'" > <td>'+ response.neww.name +'</td> <td><a class="delclass" data-id="'+ response.neww.id +'" style="color:red;cursor:pointer" >Delete</a></td></tr>'
)
}
})
$("#addTopic")[0].reset();
});
</script>
<script>
var csrfToken=$("input[name=csrfmiddlewaretoken]").val();

$("#topicsTable").on('click','a.delclass',function(event) {
event.stopPropagation();
var dataId=$(this).data('id');

$.ajax({
url:'/courses/delTopic/'+ dataId ,
data:{
csrfmiddlewaretoken:csrfToken,
tid:dataId  // removing this also seems to be working
},
type:'post', //get also seems to be working
success: function(){
$('#topicele[data-id="'+ dataId +'"]').remove();
}
})
});
</script>
<!---------------------------------------------------------------------------------------------------------------------- -->
<div id="link" style="display:none">
	<form id="addLink" action="{% url 'addLink' cid %}" method="POST">
	  {% csrf_token %}
	  <div class="row">
	  <div class="col"><input class="form-control" type="search" placeholder="Add New Link" name="Link" required></div>
	  <div class="col-md-auto">
      <select class="custom-select mr-sm-2" name="topic_" required>
    	  {% for i in topics %}
     	  <option value="{{i}}">{{i}}</option>
    	  {% endfor %}
      </select>
	  </div>

    <div class="col-md-auto">
      <select class="custom-select mr-sm-2" name="level_" required>
        <option value=1>Easy</option>
        <option value=2>Medium</option>
        <option value=3>Hard</option>
      </select>
    </div>

	  <div class="col-md-auto"><button class="btn btn-primary" type="submit">Add Link</button></div>
	  </div>
	  
    </form>
	<br>

  <!-- The Modal -->
  <div class="modal fade" id="changeLevelModal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">

        <!-- Modal Header -->
        <div style="background-color:#C1F0FF" class="modal-header">
          <h4 id="header" class="modal-title"></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div id="body" class="modal-body">
          <center>
          <form id="updateform" action="#" method="POST">
        {% csrf_token %}
          <div style="width: 200px" class="form-row align-items-center"><div class="col">
              <select id="modallevel" class="custom-select mr-sm-2" name = "level" required>
              <option id="Easy" value="1">Easy</option>
              <option id="Medium" value="2">Medium</option>
              <option id="Difficult" value="3">Difficult</option>
                </select><br><br><button class="btn btn-primary btn-sm" >Submit</button>
              </div></div>
          </form></center>
        </div>

      </div>
    </div>
  </div>
	
	<h4>Reference Links:</h4>
  <p style="display:inline;font-size: 25px;color:#00CF2F;vertical-align: middle;">&#9673;</p>Link Enabled <p style="padding-left: 7px;display:inline;font-size: 25px;color:grey;vertical-align: middle">&#9673;</p>Link Disabled<br><br>
<div style="overflow-x: auto;">
  <table id="linkTable" class="table table-transparent">
  <tr bgcolor="#f2f2f2"><td><b>Live</b></td><td><b>Link</b></td><td><b>Topic</b></td><td><b>Level</b></td><td><center><b>Toggle</b></center></td><td><center><b>Action</b></center></td></tr>  
  {% for it in l %}
  <tr id="linkele" data-id="{{it.id}}">
    {% if it.islive %}
    <td><p id="isLiveIcon{{it.id}}" style="font-size: 25px;color:#00CF2F;margin-top:-3px;">&#9673;</p></td>
    {% else %}
    <td><p id="isLiveIcon{{it.id}}" style="font-size: 25px;color:grey;margin-top:-3px;">&#9673;</p></td>
    {% endif %}
  <td><a href="{{it}}" target="_blank">{{it}}</a></td>
  <td>{{it.topic}}</td>
  <td>
  {% if it.level == 1 %}
  <p> <button style="white-space: nowrap;" id="{{it}},,{{it.id}},,Easy" onclick="func(this.id)" type="button" class="btn btn-light" data-toggle="modal" data-target="#changeLevelModal">Easy</button></p>
  {% elif it.level == 2 %}
  <p> <button style="white-space: nowrap;" id="{{it}},,{{it.id}},,Medium" onclick="func(this.id)" type="button" class="btn btn-light" data-toggle="modal" data-target="#changeLevelModal">Medium</button> </p>
  {% else %}
  <p> <button style="white-space: nowrap;" id="{{it}},,{{it.id}},,Difficult" onclick="func(this.id)" type="button" class="btn btn-light" data-toggle="modal" data-target="#changeLevelModal">Difficult</button></p>
  {% endif %}
</td>
    {% if it.islive %}
    <td id="isLiveButton{{it.id}}"><center><a style="color:white;cursor:pointer" class="btn btn-secondary btn-sm" onclick="changeliveForLink({{it.id}},true)">Disable</a></center></td>
    {% else %}
    <td id="isLiveButton{{it.id}}"><center><a style="color:white;cursor:pointer" class="btn btn-success btn-sm" onclick="changeliveForLink({{it.id}},false)">Enable</a></center></td>
    {% endif %}
  <td><a class="delclass" data-id="{{it.id}}" style="color:red;cursor:pointer">Delete</a></td>
  </tr>
  {% endfor %}
  </table>
</div>
</div>
<script>
function func(head){
  var res = head.split(",,");
document.getElementById("header").innerHTML=res[0];
document.getElementById("updateform").action="/courses/changeLevelLink/"+res[1];
document.getElementById(res[2]).selected= "true";
}
</script>
<script>
function changeliveForLink(lid,islive){
 
$.ajax({
  url:'/courses/changeLiveLink/'+ lid,
  type:'get',
  success: function(response){
  if(islive){
    document.getElementById("isLiveButton"+lid).innerHTML = "<center><a style='color:white;cursor:pointer' class='btn btn-success btn-sm' onclick='changeliveForLink("+ lid +", false)'>Enable</a></center>";
    document.getElementById("isLiveIcon"+lid).style.color = "grey";
  }else{
    document.getElementById("isLiveButton"+lid).innerHTML = "<center><a style='color:white;cursor:pointer' class='btn btn-secondary btn-sm' onclick='changeliveForLink("+ lid +", true)'>Disable</a></center>";
    document.getElementById("isLiveIcon"+lid).style.color = "#00CF2F";
  }

  },
  error: function (textStatus, errorThrown) {
  alert('Error!');
  }
  })
}
</script>

<script>
$("#addLink").submit(function(e) {
e.preventDefault();
var serializedData=$("#addLink").serialize();
$.ajax({
url:$("#addLink").attr('action'),
data:serializedData,
type:'post',
success: function(response){
$("#linkTable").append(
'<tr id="linkele" data-id="'+ response.neww.id +'" > <td><a href="'+ response.neww.link +'" target="_blank"> '+ response.neww.link +'</a></td>  <td>'+ response.neww.topic +'</td> <td><a class="delclass" data-id="'+ response.neww.id +'" style="color:red;cursor:pointer" >Delete</a></td> </tr>'
)
}
})
$("#addLink")[0].reset();
});

var csrfToken=$("input[name=csrfmiddlewaretoken]").val();

$("#linkTable").on('click','a.delclass',function(event) {
event.stopPropagation();
var dataId=$(this).data('id');

$.ajax({
url:'/courses/delLink/'+ dataId ,
data:{
csrfmiddlewaretoken:csrfToken,
linkid:dataId  // removing this also seems to be working
},
type:'post', //get also seems to be working
//dataType:'json',  //removing this also seems to be working
success: function(){
$('#linkele[data-id="'+ dataId +'"]').remove();
}
})
});
</script>
<!----------------------------------------------------------------------------------------------------------------------- -->
<div id="inst" style="display:none">
	<form class="form-inline" id="addInst" data-url="{% url 'addInst' cid %}" method="POST">
	  {% csrf_token %}
	  <input class="form-control" style="width:400px" type="search" placeholder="Add New Instructor" name="Instructor" required>
	  <button class="btn btn-primary" type="submit">Add Instructor</button>
    </form>
	
	<br>
	<h4>Course Instructors:</h4>
<div style="overflow-x: auto;">
  <table id="instTable" class="table table-transparent">
  {% for it in i %}
  <tr id="instele" data-id="{{it.id}}">
  <td>{{it}}</td>
  <td><a class="delclass" data-id="{{it.id}}" style="color:red;cursor:pointer">Delete</a></td>
  </tr>
  {% endfor %}
  </table>
</div>
</div>
<script>
$("#addInst").submit(function(e) {
e.preventDefault();
var serializedData=$("#addInst").serialize();
$.ajax({
url:$("#addInst").data('url'),
data:serializedData,
type:'post',
success: function(response){
$("#instTable").append(
'<tr id="instele" data-id="'+ response.neww.id +'" > <td>'+ response.neww.inst +'</td> <td><a class="delclass" data-id="'+ response.neww.id +'" style="color:red;cursor:pointer" >Delete</a></td> </tr>'
)
}
})
$("#addInst")[0].reset();
});
</script>
<script>
var csrfToken=$("input[name=csrfmiddlewaretoken]").val();

$("#instTable").on('click','a.delclass',function(event) {
event.stopPropagation();
var dataId=$(this).data('id');

$.ajax({
url:'/courses/delInst/'+ dataId ,
data:{
csrfmiddlewaretoken:csrfToken,
instid:dataId  // removing this also seems to be working
},
type:'post', //get also seems to be working
//dataType:'json',  //removing this also seems to be working
success: function(){
$('#instele[data-id="'+ dataId +'"]').remove();
}
})
});
</script>


<!----------------------------------------------------------------------------------------------------------------------- -->
<div id="ann" style="display:none">
  <form id="addAnnc" action="{% url 'addannc' cid %}" method="post">
    {% csrf_token %}
    <textarea placeholder="Add New Announcement" name="Announcement" rows="7" style="width:100%" required></textarea><br>
    <button class="btn btn-primary" type="submit">Add Announcement</button>
  </form>
  <br><br>
  <h4>Announcements:</h4>
<div style="overflow-x: auto;">
  <table id="annTable" class="table table-transparent">
  {% for it in ann %}
  <tr id="annele" data-id="{{it.id}}">
  <td><b>{{forloop.counter}})</b> {{it|linebreaksbr}}</td>
  <td><a class="delclass" data-id="{{it.id}}" style="color:red;cursor:pointer">Delete</a></td>
  </tr>
  {% endfor %}
  </table>
</div>
</div>
<script>
$("#addAnnc").submit(function(e1) {
e1.preventDefault();
var serializedData=$("#addAnnc").serialize();
alert("here");
$.ajax({
//url:$("#addAnnc").data('url'),
url:$("#addAnnc").attr('action'),
data:serializedData,
type:'post',
success: function(response){
$("#annTable").append(
'<tr id="annele" data-id="'+ response.neww.id +'" > <td><b>'+response.size+') </b>'+ response.neww.annc +'</td> <td><a class="delclass" data-id="'+ response.neww.id +'" style="color:red;cursor:pointer" >Delete</a></td> </tr>'
)
}
})
$("#addAnnc")[0].reset();
});

var csrfToken=$("input[name=csrfmiddlewaretoken]").val();

$("#annTable").on('click','a.delclass',function(event) {
event.stopPropagation();
var dataId=$(this).data('id');

$.ajax({
url:'/courses/delannc/'+ dataId ,
data:{
csrfmiddlewaretoken:csrfToken,
anncid:dataId  // removing this also seems to be working
},
type:'post', //get also seems to be working
//dataType:'json',  //removing this also seems to be working
success: function(){
$('#annele[data-id="'+ dataId +'"]').remove();
}
})
});
</script>


<!----------------------------------------------------------------------------------------------------------------------- -->
<div id="ass" style="display:none">
  <form id="addAss" class="form-inline my-2 my-lg-0" method="post" action="{% url 'addassign' cid %}" enctype="multipart/form-data">
    {% csrf_token %}
  <div class="row">
    <div class="col">
      <input style="width:100%" class="form-control" type="search" placeholder="Assignment name" name="aname" required>
    </div>
    <div class="col">
      <input style="width:100%;border:1px solid #D9DDE2;padding: 3px" type="file" name="file" required>
    </div>
  </div>
  <br>
    <div class="row">
    <div class="col">
      <select class="custom-select mr-sm-2" name="topic_" required>
        {% for i in topics %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="col">
      <select class="custom-select mr-sm-2" name="level_" required>
        <option value=1>Easy</option>
        <option value=2>Medium</option>
        <option value=3>Hard</option>
      </select>
    </div>

    <div class="col-md-auto">
      <button class="btn btn-primary" type="submit">Upload</button>
    </div>
  </div>

</form>
<hr>
<br>
<h4>Assignments:</h4>
<p style="display:inline;font-size: 25px;color:#00CF2F;vertical-align: middle;">&#9673;</p>Link Enabled <p style="padding-left: 7px;display:inline;font-size: 25px;color:grey;vertical-align: middle">&#9673;</p>Link Disabled<br><br>
<div style="overflow-x: auto;">
  <table id="assTable" class="table table-transparent">
  <tr bgcolor="#f2f2f2"><td><center><b>Name</b></center></td><td><center><b>Topic</b></center></td><td><center><b>Level</b></center></td><td><center><b>Live</b></center></td><td><center><b>Download Link</b></center></td><td><center><b>Toggle</b></center></td>
    <td><center><b>Action</b></center></td></tr>
  {% for i in ass %}
  <tr id="assele" data-id="{{i.id}}">
  <td><center>{{i.name}}</center></td>
  <td><center>{{i.topic}}</center></td>
  <td>
  {% if i.level == 1 %}
  <center>Easy</center>
  {% elif i.level == 2 %}
  <center>Medium</center>
  {% else %}
  <center>Hard</center>
  {% endif %}
</td>
  {% if i.islive %}
    <td><center><p id="isLiveIcon{{i.id}}" style="font-size: 25px;color:#00CF2F;margin-top:-3px;">&#9673;</p></center></td>
  {% else %}
    <td><center><p id="isLiveIcon{{i.id}}" style="font-size: 25px;color:grey;margin-top:-3px;">&#9673;</p></center></td>
  {% endif %}

  <td><center><a href="{{i.assign.url}}" target="_blank">Download</a></center></td>
  {% if i.islive %}
  <td id="isLiveButton{{i.id}}"><center><a style="color:white;cursor:pointer" class="btn btn-secondary btn-sm" onclick="changeliveForAssignLink({{i.id}},true)">Disable</a></center></td>
  {% else %}
  <td id="isLiveButton{{i.id}}"><center><a style="color:white;cursor:pointer" class="btn btn-success btn-sm" onclick="changeliveForAssignLink({{i.id}},false)">Enable</a></center></td>
  {% endif %}
  <td><center><a style="color:red;cursor:pointer" class="delclass" data-id="{{i.id}}">Delete</a></center></td>
  </tr>
  {% endfor %}
  </table>
</div>
</div>

<script>
function changeliveForAssignLink(lid,islive){
$.ajax({
  url:'/courses/changeLiveAssignLink/'+ lid,
  type:'get',
  success: function(response){
  if(islive){
    document.getElementById("isLiveButton"+lid).innerHTML = "<center><a style='color:white;cursor:pointer' class='btn btn-success btn-sm' onclick='changeliveForAssignLink("+ lid +", false)'>Enable</a></center>";
    document.getElementById("isLiveIcon"+lid).style.color = "grey";
  }else{
    document.getElementById("isLiveButton"+lid).innerHTML = "<center><a style='color:white;cursor:pointer' class='btn btn-secondary btn-sm' onclick='changeliveForAssignLink("+ lid +", true)'>Disable</a></center>";
    document.getElementById("isLiveIcon"+lid).style.color = "#00CF2F";
  }
  },
  error: function (textStatus, errorThrown) {alert('Error!');}
  })
}
</script>




<script>
$("#addAss").submit(function(e) {
e.preventDefault();
//var serializedData=$("#addAss").serialize();
$.ajax({
//url:$("#addAss").data('url'),
url:$("#addAss").attr('action'),
data:new FormData(this),
type:'post',
contentType: false, 
processData: false,
dataType: 'json',
success: function(response){
$("#assTable").append(
'<tr id="assele" data-id="'+ response.fileid +'" > <td><center>'+ response.name +'</center></td><td><center>'+ response.topic +'</center></td><td><center>'+ response.level +'</center></td> <td><center><a href="'+response.fileurl+'" target="_blank">Download</a></center></td> <td><center><a class="delclass" data-id="'+ response.fileid +'" style="color:red;cursor:pointer" >Delete</a></center></td> </tr>'
);

}
})

});

var csrfToken=$("input[name=csrfmiddlewaretoken]").val();

$("#assTable").on('click','a.delclass',function(event) {
event.stopPropagation(); //can we remove this?
var dataId=$(this).data('id');
//alert('inside');
$.ajax({
url:'/courses/delassign/'+ dataId ,
data:{
csrfmiddlewaretoken:csrfToken,
//assid:dataId  // removing this also seems to be working
},
type:'post', //get also seems to be working
dataType:'json',  //removing this also seems to be working
success: function(){
$('#assele[data-id="'+ dataId +'"]').remove();
}
})
});
</script>
<!---------------------------------------------------------------------------------------------------------------------- -->





</div>
</div>

<div id="mySidebar" class="sidebar">
  <br><a href="#" style="font-size:30px;float:right;text-decoration: none;width:100%;text-align: right;" onclick="closeNav()">×&nbsp;</a><br><br>
  

<button id="descbtn" class=" sidebtn" onclick="hidefunc('desc');closeNav()" >
  <i style="width:50px;font-size:24px;padding-left: 8px;" class="fas fa-chevron-right"></i>
  <span> &nbsp;Description</span>
</button ><br>
<button id="syllbtn" class=" sidebtn" onclick="hidefunc('syll');closeNav()" >
  <i style="width:50px;font-size:24px;padding-left: 8px;" class="fas fa-clipboard-list"></i> 
  <span> &nbsp;Syllabus</span>
</button ><br>
<button id="topicsbtn" class=" sidebtn" onclick="hidefunc('topics');closeNav()" >
  <i style="width:50px;font-size:24px;padding-left: 8px;" class="fas fa-list-ol"></i> 
  <span> &nbsp;Topics</span>
</button ><br>
<button id="linkbtn" class=" sidebtn" onclick="hidefunc('link');closeNav()" >
  <i style="width:50px;font-size:24px;padding-left: 8px;" class="fas fa-link"></i>
  <span> &nbsp;Reference Links</span>
</button ><br>
<button id="instbtn" class=" sidebtn" onclick="hidefunc('inst');closeNav()" >
  <i style="width:50px;font-size:24px;padding-left: 8px;" class="fas fa-chalkboard-teacher"></i>
  <span> &nbsp;Teachers</span>
</button><br>
<button id="annbtn" class=" sidebtn" onclick="hidefunc('ann');closeNav()" >
  <i style="width:50px;font-size:24px;padding-left: 8px;" class="fas fa-bullhorn"></i>
  <span> &nbsp;Announcements</span>
</button><br>
<button id="assbtn" class=" sidebtn" onclick="hidefunc('ass');closeNav()" >
  <i style="width:50px;font-size:24px;padding-left: 8px;" class="fas fa-file-download"></i>
  <span> &nbsp;Assignments</span>
</button><br>
<a href="{% url 'quesr' cid %}"><button class="sidebtn" >
  <i style="width:50px;font-size:24px;padding-left: 8px;" class="fas fa-edit"></i>
  <span> &nbsp;Questionnaire</span>
</button></a><br>


</div>
<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "210px";
  document.getElementById("mySidebar").style.borderRight = "4px solid #E7F0FF";
  //document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("mySidebar").style.borderRight = "0px";
  //document.getElementById("main").style.marginLeft= "0";
}
</script>

<script>
var curr='desc';
document.getElementById(curr+'btn').style.backgroundColor = "#bddfff";
function hidefunc(e) {
    //for multiple properties, we can use:
    //document.getElementById('desc').style.cssText = "display: none;background-color:#f8f9fa";

  document.getElementById(curr+'btn').style.backgroundColor = "white";
  document.getElementById(e+'btn').style.backgroundColor = "#bddfff";
  document.getElementById(curr).style.display = "none";
  document.getElementById(e).style.display = "block";
  curr=e;
}
</script>
{% endblock %}