{% extends 'basepage.html' %}
{% block content %}
{% load static %}
<div style="padding-top:24px;background-color:white"><h2><center>Assignments</center></h2><hr></div>
<div class="container">
{% if messages %}
  {% for message in messages %}
  {% if message.tags == 'warning'%}
  <div class="alert alert-warning" role="alert">
    <center>{{ message }}</center>
  </div>
  {% elif message.tags == 'success'%}
  <div class="alert alert-success" role="alert">
    <center>{{ message }}</center>
  </div>
  {%endif%}
  {% endfor %}
{% endif %}
<br>

<div style="overflow-x: auto;">
  <table class="table table-transparent">
  <tr bgcolor="#f2f2f2"><td><center><b>Name</b></center></td><td></td></tr>
  {% for i in assignments %}
  <tr>
  <td><center>{{i.name}}</center></td>
  <td><center><a id="assignment,{{i.topic}}" href="{{i.assign.url}}" target="_blank">Download</a></center></td>
  </tr>
  {% endfor %}
  </table>
</div>	
</div>

{% endblock %}